<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-positive">
	  <h1 class="title">New todo</h1>
	  <button class="button button-clear button-primary" ng-click="items.modal.hide()">Cancel</button>
	</ion-header-bar>
	<ion-content class="padding">
	  <div class="list">
	    <label class="item item-input">
	      <span class="input-label">Description</span>
	      <input ng-model="newName" type="text" />
	    </label>
	    <ion-toggle ng-model="important" toggle-class="toggle-positive">Important?</ion-toggle>
	    <button class="button button-full button-positive" ng-click="items.createItem(newName, important)">Create</button>
	  </div>
	</ion-content>
</ion-modal-view>